/* Entire Website */

* {
  box-sizing: border-box;
}

body{
  background: #000;
}

.main-title{
  color: #fff;
}

/* Main Section */

.main-section{
	min-height: 700px;
}

/* About Section  */

.about-section{
	min-height: 700px;
}

/* Pricing Seciton */

.pricing-section{
	min-height: 700px;
}

/* Contact Section */

.contact-section{
	min-height: 700px;
}

a.fa:hover, a.fa:active, a.fa:visited{
  text-decoration: none;
}

.copyright{
  color: #fff
}

.questions{
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  margin-top: 250px;
  text-align: center;
}

.footer-items{
  text-align: center;
}

.fa-envelope-o, .fa-twitter, .fa-linkedin-square {
  color: #fff;
}

.social-media{
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 20px;
  text-decoration: none;
}

.social-media:link, .social-media:hover, .social-media:active, .social-media:visited {
  text-decoration: none;
}